        /*
        Aquí hemos diseñado el color de los encabezados 
        */
        h1,h5{
                font-size: 40pt;
        }
        h1,h2,h3,h4,h5{
                color:brown;
                background-color:rgb(255, 255, 255);
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        body{
                font-family:Algerian; 
                background-color:blanchedalmond;
        }
        a:active{ color:gold;

        }

        a:visited{color:aqua;

        }

        a:hover{font-size:small;

        }
      
        a:link{color:lightgreen;

        }